{% extends "domain_squeezer/base.html" %}

{% block title %}{{ words|join:' ' }}{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
	{% for title, path in breadcrumb %}
		<li><a href="{{ path }}">{{ title }}</a></li>
	{% endfor %}
	</ul>
{% endblock breadcrumb %}

{% block main %}

	<p>You searched for: {{ words|join:' ' }}</p>

	<div class="adsense">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2817198668567599"
			 data-ad-slot="4150917060"
			 data-ad-format="auto"></ins>
		<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
	</div>

{% endblock main %}
