<!DOCTYPE html>{% load staticfiles %}{% load analytical %}{% load domain_squeezer %}
<html lang="en">
<head>
{% block head %}
	{% block meta %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% endblock meta %}
	{% analytical_head_top %}
	<title>{% block title %}{% endblock title %} - {% site_name %}</title>
	{% block css %}
	<link href="{% static 'style.css' %}" rel="stylesheet">
	{% endblock css %}
	{% analytical_head_bottom %}
{% endblock head %}
</head>
<body>
{% block body %}
	{% analytical_body_top %}
	<header>{% block header %}{% endblock %}</header>
	<main>{% block main %}{% endblock %}</main>
	<footer>{% block footer %}{% endblock %}</footer>
	{% block javascript %}{% endblock %}
	{% analytical_body_bottom %}
{% endblock body %}
</body>
</html>
